<% if controller_name == "food_items" && action_name == "show"%>
<div class="column is-desktop">
<% else %>
<div class="column is-4">
<%end%>
<div class="card">
  <% if food_item.image.present? %>
  <div class="card-image">
    <figure class="image is-4by3">
      <%= image_tag food_item.image, alt: "Food item" %>
    </figure>
  </div>
  <%end%>

  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4"><%= link_to food_item.name, food_item %></p>
      </div>
    </div>

    <div class="content">
      <p><strong>Price: <%= number_to_currency food_item.price %> </strong></p>
      <p>Category: <%= link_to food_item.food_category.name, food_item.food_category %> </p>
      <% if controller_name == "food_items" && action_name == "show"%>
      <p><%= food_item.description %></p>
      <% end %>
      <%# <br> %>
      <%# <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time> %>

    </div>
  </div>

  <footer class="card-footer">
  <% if controller_name == "food_items" && action_name == "index"%>
  <a href="/food_items/<%= food_item.id%>" class="card-footer-item">View Details</a>
  <div class="card-footer-item">

    <% if cart.include?(food_item)%>
      <%= button_to cart_path(food_item), method: :delete do %>
      Remove From Cart
      <% end %>
    <% else %>
      <%= form_with url: cart_index_path, method: :post do %>
        <%= hidden_field_tag(:id, food_item.id) %>
        <%= button_tag 'Add to Cart' %>
      <% end %>
    <% end %>

  </div>
  <% end %>
  </footer>
</div>
</div>
