<% if controller_name == "food_items" && action_name == "show"%>
<div class="column is-desktop">
<% else %>
<div class="column is-4">
<%end%>
<div class="card">
  <% if food_item.image.present? %>
  <div class="card-image">
    <figure class="image is-4by3">
      <%= image_tag food_item.image %>
    </figure>
  </div>
  <%end%>

  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4"><%= link_to food_item.name, food_item %></p>
      </div>
    </div>

    <div class="content">
      <p><strong>Price: <%= number_to_currency food_item.price %> </strong></p>
      <p>Category: <%= link_to food_item.food_category.name, food_item.food_category %> </p>
      <% if controller_name == "food_items" && action_name == "show"%>
      <p><%= food_item.description %></p>
      <% end %>
      <%# <br> %>
      <%# <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time> %>

    </div>
  </div>

  <footer class="card-footer">
  <% if controller_name == "food_items" && action_name == "index"%>
    <a href="/food_items/<%= food_item.id%>" class="card-footer-item">View Details</a>
  <% else %>
  <div class="card-footer-item">
    <%= form_for @order_food_item do |f| %>
    <%= f.hidden_field :food_item_id, :value => @food_item.id %>
    <%= f.number_field :quantity, :value => 1, :min => 1 %>
    <%= f.submit "Add to Cart"%>
    <% end%>
  </div>
  <% end %>
  </footer>
</div>
</div>
