<% name = current_user.present? ? current_user.email : 'Guest user' %>
<h1>Welcome, <%= name %> </h1>

<%# <div class="has-text-right">
  <%=  link_to image_tag("cart.png", width:60), cart_path %>

<%= form_with(url: search_food_items_path, local: true, method: "get", class: 'mt-5 mb-5') do |f|%>
  <div class="field has-addons">
    <div class="control">
      <%= f.collection_select :food_category_id, FoodCategory.all, :id, :name, {include_blank: 'All'} ,class: "select" %>
    </div>
    <div class="control">
      <%= f.text_field :search_term, class: "input" %>
    </div>
    <div class="control">
      <%= f.submit "Search By Category", class: "button is-info"  %>
    </div>
  </div>
<% end %>

<%= paginate @food_items %>

<div class="columns is-fullheight">
<div class="columns is-multiline">
  <%= render partial: 'food_items/food_item',
             collection: @food_items,
             locals: { show_link: true } %>
</div>
</div>

<%= paginate @food_items %>


