<%= form_with(url: search_food_items_path, local: true, method: "get", class: 'mt-5 mb-5') do %>
  <div class="field has-addons">
    <div class="control">
      <%= text_field_tag(:keywords, nil, class: 'input', placeholder: 'Food Items By Name') %>
    </div>
    <div class="control">
      <%= submit_tag("Search", class: "button is-info") %>
    </div>
  </div>
<% end %>

<%= paginate @food_items %>

<div class="columns is-fullheight">
<div class="columns is-multiline">
  <%= render partial: 'food_items/food_item',
             collection: @food_items,
             locals: { show_link: true } %>
</div>
</div>

<%= paginate @food_items %>


